 body, html {
    height: 100%;
    margin: 0;
    font: 400 15px/1.8 "Lato", sans-serif;
    color: #777;
    box-sizing: border-box;
  }
  
  .hero-img, .bgimg-2, .bgimg-3, .bgimg {
    position: relative;
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .hero-img {
    background-image: url("wedding.jpg");
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .bgimg-2 {
    background-image: url("hindu.jpg");
    opacity: 1;
    min-height: 400px;
  }

  .bgimg-3 {
    background-image: url("bride.jpg");
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .gmap{
   height: 80%;
   width: 80%;
    float: left;
    margin:20px
  }

.blessings{
    background-color: black;
    color:white;
    width: 80%;
    padding: 50px;
    padding-right: 50px;


}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 600px) {
    .middle {
        position: absolute;
        ;
        width: 100%;
        text-align: center;
        background-color: black;
        padding: 10px;

      }
      .swap{
        display: flex;
        flex-direction: column-reverse;
      }
      .swap-text{
        text-align: center;
      }
}



     /*
  
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
  }
  
  .caption span.border {
    background-color: #111;
    color: #fff;
    padding: 18px;
    font-size: 25px;
    letter-spacing: 10px;
  }
  
  h3 {
    letter-spacing: 5px;
    text-transform: uppercase;
    font: 20px "Lato", sans-serif;
    color: #111;
  }

  .container{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
  }
  .container1{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: row;
  }
  .bride-content{
    color:green;
    padding: 10px;
    padding: 10px;
    width: 70%;

  }
  .groom-content{
    color:green;
    margin-left: 50px;
    width: 70%;


  }
  .bride-picture{
    color:aqua;
    width: 30%;
  }
  .groom-picture{
    color:aqua;
    width: 30%;
    margin-left: 90px;
  }
  .bride-img{
    height: 400px;
    width: 400px;
  }


  .bride-img{
    height: 400px;
    width: 400px;
  }

  /* Turn off parallax scrolling for tablets and phones */
  /* @media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
      background-attachment: scroll;
    }

  }

  @media only screen and (max-width: 600px) {

.container{
  height: 100%;
  width:100%;
  display: flex;
  flex-direction: column-reverse;

  }
  .container1{
    height: 100%;
    width:100%;
    display: flex;
    flex-direction: column;
  
    }
  .map{
    align-items: center;
    justify-content: center;
  }
  .address{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column-reverse;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    align-items: center;
  }
  .gmap{
    height: 400px;
    width: 400px;
    float: left;
    margin:20px
  }
  .location-section{
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .bride-content{
    width: 100%;
  }

  } */ 
